In [2]:
print("hiii")

hiii

### comments in python
    - singleline comment
    - multiline comment

In [3]:
'''JSKDHFJKDESRHJKEHRJKH
JKEHRJKEHRJKEHRJKEJ
JKJDSHFJKEHRJKE
JHERJKEHRJKHEJK
'''
print("hello")

hello

In [5]:
# printing keywords in python
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [6]:
import keyword
print(len(keyword.kwlist))

35

- Variable
    - Which is used to store the data
    
- Rules
    - Shouldn't starts with digits,special characters except _(underscore)
    - Starts with alphabets
    - We didn't use keywords as a variable name
    - We didn't use spaces also

In [9]:
a = 89
print(a)
print("a")
print("7836483")

89
a
7836483

In [10]:
%a = 90
print(%a)

SyntaxError: invalid syntax (3263328565.py, line 2)

In [11]:
True = 89
True

SyntaxError: cannot assign to True (4052255167.py, line 1)

In [13]:
first_name = "workshop"
first_name

'workshop'

In [14]:
_a = 66
print(_a)

66

In [15]:
a123 = 56
a123

56

In [16]:
3a = 78
3a

SyntaxError: invalid decimal literal (4149741486.py, line 1)

# Datatypes
    - int - 78634578465784783874
    - float - 6.7,2.9.7.8
    - str-  "python","workshop","37846","abc123"
    - bool - True,False

In [20]:
# integer
n = int(input('Enter any number: '))
print(n)

Enter any number: 8
8

In [21]:
# float
f = float(input())
print(f)

7826347837
7826347837.0

In [22]:
# str
s = input()
print(s)

hkdfjukhdjkf
hkdfjukhdjkf

In [23]:
s1 = str(input())
print(s1)

7823jkskdhfjkdh
7823jkskdhfjkdh

# Type Conversions
    - int --- int(variable_name)
    - float --- float(variable_name)
    - str --- str(variable_name)

In [25]:
# integer to float
a = 34
print(a,type(a))
f = float(a)
print(f,type(f))

34 <class 'int'>
34.0 <class 'float'>

In [29]:
# float to integer
a1 = 8.9
print(a1,type(a1))
h = int(a1)
print(h,type(h))

8.9 <class 'float'>
8 <class 'int'>

In [30]:
# int to str
h = 89
print(h,type(h))
h1 = str(h)
print(h1,type(h1))

89 <class 'int'>
89 <class 'str'>

### Operators
- Arithmetic --->   +,-,*,/,%,//(floor),power(**)
- Assignment  --->  =,+=,-=,*=,/=,.........
- Comparision/Relational :-   ==,!=,<,>,<=,>=
- Logical   :-   and,or,not
- Bitwise   :-  &,|,^(xor),<<,>>
- Membership  :-  in,not in
- Identity :-  is,is not

In [39]:
#  Arithmetic --->   +,-,*,/,%,//(floor),power(**)
a,b = 7,8
print(a+b,a-b,a*b)
print(a/b,a%b,a//b,5//2,5**3)

15 -1 56
0.875 7 0 2 125

In [40]:
# - Assignment  --->  =,+=,-=,*=,/=,.........
x = 8
print(x)

8

In [42]:
x = 5
x += 2  # x = x+2=5+2=7
print(x)

7

In [43]:
y = 8
y -= x
print(y)

1

In [44]:
z = 8
z *= y
print(z)

8

In [49]:
# Comparision/Relational
a,b = 8,9
print(a==b,a>b,a<b)
print(a<=b,a>=b)

False False True
True False

In [52]:
# Logical :-  and,or,not
x,y = 9,7
print(x>y and x==y)  # T and f---- f
print(x<y and x!=y)  # f and t--- f

False
False

In [53]:
print(x>y or x==y)  # t OR f---- t
print(x<y or x!=y)  # f OR t--- t

True
True

In [55]:
print(not(x>y))

False

In [ ]:
# Bitwise operators:-   &,|,^,<<,>>

In [57]:
bin(20)

'0b10100'

In [59]:
a,b= 10,20
print(a&b,a|b,a^b)

0 30 30

In [68]:
# Membership :-   in,not in
s = "workshop"
print("s" in s,"v" in s,"u" in s)
print("s" not in s,"k" in s,"z" not in s)
print("shop" in s,"wrk" in s,"work" in s)

True False False
False True True
True False True

In [74]:
#### Identity operators
d,f = 7,7.0
print(id(d),id(f))
print(d is f,d is not f)

140723491083240 2197358822576
False True

### Conditional Statements
- if,if else,elif,nested if

- Syntax for if statement
----------------------------
if(condition):
    statements

- Syntax for if else statement
------------------------------------
if(condition):
    statements
else:
    statements

In [ ]:
- Syntax for elif statement
---------------------------
if(condition1):
    statements
elif(condition2):
    statements
elif(condition3):
    statements
.........
else:
    statements

In [ ]:
- Syntax for nested if statement
-------------------------------------
if(condition):
    if(condition):
        statements
    else:
        statements
else:
    statements

In [77]:
# i/p: 9
# o/p: odd
n = int(input())
if(n%2==1):
    print("odd")

9
odd

In [79]:
n = int(input())
if(n%2==1):
    print("odd")
else:
    print("even")

6
even

In [82]:
# 50
n1 = int(input())
if(n1%10==0 and n1%5==0):
    print(n1,"is divisible by 5&10")
else:
    print(n1,'is not divisible by 5&10')

45
45 is not divisible by 5&10

In [85]:
week = int(input())
if(week==0):
    print("Sunday")
elif(week==1):
    print("Monday")
elif(week==2):
    print("Tuesday")
elif(week==3):
    print("Wednesday")
elif(week==4):
    print("Thursday")
elif(week==5):
    print("Friday")
elif(week==6):
    print("Saturday")
else:
    print("Invalid week")

9
Invalid week

In [ ]:
# i/p: 6
       even
       10> ---> cube
       10<----  square--- 36
    
# i/p: 5
      odd

In [88]:
n = int(input())
if(n%2==0):
    print("even")
    if(n>10):
        print(n**3)
    else:
        print(n**2)
else:
    print("odd")

12
even
1728

# Loops
    - for 
    - while

In [ ]:
- Syntax for for loop
------------------------------
for value in range(start,end,step_count):
    statments

In [92]:
# print your name 10 times
for i in range(10):
    print("vanitha",end=' ')

vanitha vanitha vanitha vanitha vanitha vanitha vanitha vanitha vanitha vanitha

In [102]:
# print 1 to 10 numbers
for j in range(1,11,3):
    print(j,end=' ')

1 4 7 10

In [99]:
for j in range(10,0,-2):
    print(j,end=' ')

10 8 6 4 2

In [103]:
# 1 to 10 numbers total
t = 0
for i in range(1,11):  # i=2
    t = t+i  # 0+1=1 1+2=3+3=6+4=10+5=15+6=21+7=28......55
print(t)

55

In [104]:
# factors = 10= 1 2 5 10
n = int(input())
for i in range(1,n+1):
    if(n%i==0):
        print(i,end=' ')

10
1 2 5 10

In [108]:
# prime number
n = int(input())
f_count=0
for i in range(1,n+1):
    if(n%i==0):
        f_count=f_count+1                                        
print("Factors count=",f_count)
if(f_count==2):
    print("Prime number")
else:
    print("Not a prime")

20
Factors count= 6
Not a prime

### While loop
   - It used to execute a block of statements repeatedly until 
      a particular condition is satisfied

In [ ]:
- syntax for while loop
---------------------------
intialization
while(condition):
    statements
    increment/decrement

In [109]:
# printing 1 to 10 numbers using while loop
i = 1
while(i<=10):
    print(i,end=' ')
    i=i+1

1 2 3 4 5 6 7 8 9 10

In [110]:
# reverse
i=10
while(i>=1):
    print(i,end=' ')
    i=i-1

10 9 8 7 6 5 4 3 2 1

In [119]:
# Reverse of any number
n = int(input())
rev = 0
while(n>0):  # t
    r = n%10 # 456%10=6  45%10=5 4%10=4
    rev = rev*10+r # 0*10+6=6 6*10+5=65 65*10+4=654
    n = n//10 # 456//10=45 45//10=4  4//10=0
print(rev)

72836578236578
87563287563827

In [112]:
# 98457
#   957----> Print only odd digits
n = int(input())
while(n>0):
    r = n%10
    if(r%2==1):
        print(r,end=' ')
    n = n//10

25743545
5 5 3 7 5