##### Pandas
        - It means paneldata
        - it one of the data science package
        - used for data manupulation,analysis,and cleaning
    - contains mainly two data structures in pandas
        - Series:    sequence of data
    - Data frames:    dataframe is a data with row and colum
    
    
   - Installation
       - pip install pandas

In [3]:
import pandas as pd

In [4]:
pd.__version__

'2.0.3'

In [5]:
# Creation of series data structure using string
s="hello"
pd.Series(s)

0    hello
dtype: object

In [6]:
s='hi good evening'.split()
pd.Series(s)

0         hi
1       good
2    evening
dtype: object

In [7]:
s='hi good evening'.split()
pd.Series(s)

0         hi
1       good
2    evening
dtype: object

In [8]:
li=[12,'python',12.4]
pd.Series(li,index=['int','str','float'])

int          12
str      python
float      12.4
dtype: object

In [9]:
t=('a','e','i','o','u')
pd.Series(t,index=['v1','v2','v3','v4','v5'])

v1    a
v2    e
v3    i
v4    o
v5    u
dtype: object

In [10]:
# Creation of series data structure using list
li = [34,44,12,55]
sd = pd.Series(li)
print(sd)
print(type(sd))

0    34
1    44
2    12
3    55
dtype: int64
<class 'pandas.core.series.Series'>

In [11]:
# To change the index names in a series using index
sd.index= ['A','B','C','D']
print(sd)

A    34
B    44
C    12
D    55
dtype: int64

In [12]:
# giving index and values at a time
sd2 = pd.Series(['HUI','UERY','UER','EURY'],index=['A','B','C','D'])
print(sd2)

A     HUI
B    UERY
C     UER
D    EURY
dtype: object

In [13]:
# Creation of series data structure using numpy array
import numpy as np
n = np.array([34,11,16,89])
pa = pd.Series(n)
print(pa)

0    34
1    11
2    16
3    89
dtype: int32

In [14]:
# Creation of series data structure using Dictionary
d = {'name':'vanitha','rollno':896,'Branch':'cse'}
sd3 = pd.Series(d)
print(sd3)
print(type(sd3))

name      vanitha
rollno        896
Branch        cse
dtype: object
<class 'pandas.core.series.Series'>

In [15]:
# # Creation of series data structure using tuple
t = (2,3,4,22)
t1 = pd.Series(t)
print(t1)
print(type(t1))

0     2
1     3
2     4
3    22
dtype: int64
<class 'pandas.core.series.Series'>

In [16]:
# To get values 
print(sd)

A    34
B    44
C    12
D    55
dtype: int64

In [17]:
print(sd['A'])

34

In [18]:
# To get mulitiple items
print(sd[:'C'])

A    34
B    44
C    12
dtype: int64

In [19]:
print(pa)

0    34
1    11
2    16
3    89
dtype: int32

In [20]:
print(sd3)

name      vanitha
rollno        896
Branch        cse
dtype: object

In [21]:
print(sd3['name'])

vanitha

In [22]:
print(sd['A':'B'])

A    34
B    44
dtype: int64

In [23]:
print(sd['A':'D':2])

A    34
C    12
dtype: int64

In [24]:
# Update the series values
print(sd)

A    34
B    44
C    12
D    55
dtype: int64

In [25]:
sd['A']= 100
print(sd)

A    100
B     44
C     12
D     55
dtype: int64

In [26]:
# We can update the value using replace() method
sd = sd.replace(44,130)
print(sd)

A    100
B    130
C     12
D     55
dtype: int64

In [27]:
# update multiple values at a time
sd = sd.replace([12,55],["python","oracle"])
print(sd)

A       100
B       130
C    python
D    oracle
dtype: object

In [28]:
# delete the values 
# drop -- we will use drop attribute
print(sd)

A       100
B       130
C    python
D    oracle
dtype: object

In [29]:
li1 = pd.Series([4,5,6,7],index = ['A','B','C','D'])
print(li1)

A    4
B    5
C    6
D    7
dtype: int64

In [30]:
# How to delete particular row
li1  = li1.drop('D')
print(li1)

A    4
B    5
C    6
dtype: int64

In [31]:
# delete multiple rows at a time
li1 = li1.drop(['A','B'])
print(li1)

C    6
dtype: int64

In [32]:
print(li1)

C    6
dtype: int64

In [34]:
# Assigning single value to multiple indexes
sd5 = pd.Series('Data Analysis',index=[1,2,3,4,5])
print(sd5)

1    Data Analysis
2    Data Analysis
3    Data Analysis
4    Data Analysis
5    Data Analysis
dtype: object

In [35]:
pd.Series([10,20,30,40,50],index = np.arange(1,6))

1    10
2    20
3    30
4    40
5    50
dtype: int64

In [45]:
# index values from 10 to 20, and print their squares
sq = pd.Series(np.arange(10,21)**2,index = np.arange(10,21))
print(sq)

10    100
11    121
12    144
13    169
14    196
15    225
16    256
17    289
18    324
19    361
20    400
dtype: int32

In [47]:
# TO get particular index values
# Fancy Indexing
sq[[18,12,15]]

18    324
12    144
15    225
dtype: int32

In [3]:
# Series indexing
import pandas as pd
k = pd.Series([1,2,3,'python',9,7.9])
print(k)

0         1
1         2
2         3
3    python
4         9
5       7.9
dtype: object

In [4]:
print(k[0:3])

0    1
1    2
2    3
dtype: object

In [5]:
print(k[::-1])  # reverse

5       7.9
4         9
3    python
2         3
1         2
0         1
dtype: object

In [6]:
print(k[::2]) # alternate values(or)indexes

0    1
2    3
4    9
dtype: object

In [7]:
print(k[::3])

0         1
3    python
dtype: object

In [8]:
print(k[:])

0         1
1         2
2         3
3    python
4         9
5       7.9
dtype: object

In [9]:
print(k[-1])

KeyError: -1